a:hover{
  text-decoration:none;
}

.navbar {
    margin-bottom: 30px;

  .nav-heading{
    width:50%;
    float: left;
    margin-bottom: 20px;
    h1{
      margin-bottom: 3px;
      letter-spacing: 1px;
      color:$brand-secondary;
      strong{
        color:$brand-primary;
      }
    }
    p{
      color:$brand-secondary;
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 2px;
    }
  }
}


.banner-image{
  margin-top: -30px;
  height:450px;
  position:relative;
  background-position: top;
  background-size:cover;
  margin-bottom:40px;

  h2{
    margin-top:0;
    font-size:60px;
    font-weight: 600;
    text-shadow: 3px 3px 40px rgba(0,0,0,0.3);
    color:$banner-color;
    position: absolute;
    top:40px;
    left:40px;
    width:40%;
  }
}


.admin{
  .title-bar{
    .admin-title{
      float:left;
      width:80%;
      margin-top:0;
          margin-bottom:20px;

    }
    .add-new-post{
      float:right;
    }
  }
  .post-listing{
    float:left;
    width:100%;
    border-bottom: 1px solid #eee;
    padding:20px 0px;
    .post-body{
      width:80%;
      float:left;
      h3{
        margin-top:0;
      }
    }
    .delete{
      float:right;
      width:24px;
      height:24px;
      border-radius: 12px;
      background-color: #cc3333;
      color:#fff;
      padding:0;
      font-size: 14px;
      opacity:0.6;
      &:hover{
        opacity:1;
      }
    }
  }

}

.visible-xxs {
  display: none !important;
  visibility: hidden;
}

.hidden-xxs {
  display: block;
  visibility: visible;
}

@media screen and (max-width: 479px) {
  .visible-xxs {
    display: block !important;
    visibility: visible !important;
  }

  .hidden-xxs {
    display: none !important;
    visibility: hidden !important;
  }
}